In [1]:
# initialization
import pandas as pd

In [9]:
reformattedFasta = pd.read_csv('../dataset/reformatted_Unigene1000.fa', sep=' ', header=None, index_col=0, names=['size', 'len', 'gap', '0', '0%', 'data'])

In [10]:
reformattedFasta.head()

,size,len,gap,0,0%,data
Unigene1_All,size,535,gap,0,0%,ATCATTATTGATAGCAACAACAATCCGGAGCACTTCCTCACCACCA...
Unigene2_All,size,3942,gap,0,0%,CCCATTCCCGGCATAGGTGGTGCAGGTAAAGCAAGAGGCAAAAGCT...
Unigene3_All,size,845,gap,0,0%,TATAAAACGACGTCGTTTAATCTCGGCTAATAGAATAGTTATATAA...
Unigene4_All,size,919,gap,0,0%,CAACACCTGTTTCCATTAACTCCTCTCGATATAAAATTAAATTTCG...
Unigene5_All,size,269,gap,0,0%,CTCCAAATTCTGCAATCTTGACTGTTTCAGTCTTGGTGTCTACCAG...

In [11]:
reformattedFasta.drop(columns=['size', 'gap', '0', '0%'], inplace=True)

In [ ]:
# dataframe.loc[] to access by row label
# dataframe[] to access by column label
# dataframes have indexes 
# IMPORTANT: these indices don't have to be unique
# ALSO IMPORTANT: non-unique indices will slow down many operations on dataframes

In [12]:
reformattedFasta.head()

               len                                               data
Unigene1_All   535  ATCATTATTGATAGCAACAACAATCCGGAGCACTTCCTCACCACCA...
Unigene2_All  3942  CCCATTCCCGGCATAGGTGGTGCAGGTAAAGCAAGAGGCAAAAGCT...
Unigene3_All   845  TATAAAACGACGTCGTTTAATCTCGGCTAATAGAATAGTTATATAA...
Unigene4_All   919  CAACACCTGTTTCCATTAACTCCTCTCGATATAAAATTAAATTTCG...
Unigene5_All   269  CTCCAAATTCTGCAATCTTGACTGTTTCAGTCTTGGTGTCTACCAG...

In [ ]:
reformattedFasta.